@use '../utils/variables' as *;

.btn {
    display: flex;
    margin-top: 2rem;
    padding: 15px;
    justify-content: center;
}

.btn-cta {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: absolute;
    top: 80%;
    border: solid 2px  $primary;
    border-radius: 25px;
    background-color: $background;
    padding: 2rem;
    box-shadow: $shadow;
    z-index: 2;
}

.btn-cta:hover {
    box-shadow: $inner_shadow;
}

.hero__arrow-left {
    z-index: 1;
    font-size: $font_xxl;
    color: $background;
    position: absolute;
    top: 55%;
    left: 12%;  
        &:hover {
        text-shadow:
        1px .5px 1px $background_blur;
        }
}

.hero__arrow-right {
    z-index: 1;
    font-size: $font_xxl;
    color: $background;
    position: absolute;
    top: 55%;
    right: 12%;
        &:hover {
        text-shadow:
        1px .5px 1px $background_blur;
        }
}
.fill {
    position: absolute;
    font-size: $font_xl;
    color: $background-blur;
    backdrop-filter: blur(5px);
}

.fill-left {
    position: absolute;
    top: 250px;
}

.fill-right {
    position: absolute;
    top: 250px;
    right: 2.5px;
}
