@use '../utils/variables' as *;


.carte {
    display: flex;
    flex-direction: column;
    border: 2px solid $primary;
    border-radius: 25px;
    box-shadow: $shadow;
    padding: 60px 100px;
    margin-top: 90px;
    background-color: $white_fifty;
}

.carte__section {
    margin-bottom: 30px; 
    width: 100%;
}


.carte__produit{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.produit__img-title-desc {
    display: flex;
    flex-direction: row;
}

.produit__title-desc {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.menu__title-carte {
    position: absolute;
    font-family: $title_font;
    font-size: $font_uxxl;
    color: $secondary;
    left: 35vw;
    top: 40px;
}
.carte__title {
  margin-bottom: 20px;
  color: $black;
  font-family: "Cookie";
  font-size: $font_xxl;
  border-bottom: 1px solid $black;
  width:fit-content;
}

.produit__title {
    font-size: $font_product;
    font-family: $title_font;
    border-bottom: 1px solid $black;
    width:fit-content;
}

.produit__desc {
    font-size: $font_m;
    font-family: $red_hat;
}

.produit__img {
    width: 100px;
}

.carte__price__div {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.carte__price {
    font-family: $title_font;
    font-size: $font_product;
    color: $primary;
}