@use '../utils/variables' as *;

.hero {
    margin-top: 35px;
    padding: 0;
}

.hero__cover {
    display: flex;
    justify-content: center;
}

.hero__img {
    position: relative;
    width:80%;
    height: auto    ;
    border-radius: 25px;
    box-shadow: $shadow;
    z-index: 0;
}
