@use '../utils/variables' as *;

img {
    max-width: 100%;
}


.index__img {
    width: 40vw;
    height: auto;
    border-radius: 25px;
    box-shadow: $shadow;
}

.index__middle__img {
    border-radius: 25px;
    box-shadow: $shadow;
    width: 50vw;
    height: auto;
    object-fit: fill;
    position: relative;
}

.img__carroussel {
    box-shadow: $shadow;
    border-radius: 25px;
}