@use '../utils/variables' as *;

.maps__integration {
    width:100%;
    height: 42rem;
    border-radius: 25px;
    border: solid 2px $secondary;
    box-shadow: $shadow;
    z-index: 1;
    position: relative;
}

.index__maps {
    position: relative;
}
.index__maps__info {
    font-size: $font_m;
    font-family: $red_hat;
    position: absolute;
    z-index: 2;
    bottom: 405px;
    right: 90px;
    border: solid 2px $secondary;
    background-color: $background-blur;
    backdrop-filter: blur(15px);
    border-radius: 25px;
    padding: 15px;
    text-align: center;
    box-shadow: $shadow;
}

