$background: #FDF5E4;
$background-blur: rgb(253, 245, 228, 50%);
$white: #FFFFFF;
$white_fifty:  rgb(255,255,255, 50%);
$black: #1A0000;
$primary: rgb(209,21, 21, 100%);
$primary_quarter: rgb(209,21, 21, 50%);
$secondary: rgb(102, 155, 188);
$secondary-fifty: rgb(102, 155, 188, 10%);

$Validation: #008000;
$error: #F00020;
$danger: #C9D007;

$shadow: 2px 5px 5px black;
$inner_shadow: inset 5px 10px 15px rgb(0,0,0,100%);

$font_uxxl: 12.8rem;
$font_xxl: 6.4rem;
$font_product: 4rem;
$font_xl: 3.6rem;
$font_l: 2.4rem;
$font_m: 2rem;
$font_s: 1.6rem;
$font_xs: 1.4rem;
$font_xxs: 1.2rem;

$width_xs: 380px;
$width_s:  480px;
$width_xm: 680px;
$width_m:  769px;
$width_l:  1085px;
$width_xl: 1280px;

$red_hat: "Red Hat Display";
$title_font: "Oregano", cursive;