@use '../utils/variables' as *;

html {
  font-size: 66.5%;
}

body {
    background-color: $background;
}

h2 {
  position: relative;
  text-align: center;
  color: $primary;
  font-size: $font_xxl;
  margin-bottom: 5rem;
  margin-top: 10rem;
  padding: auto;
}
h3 {
  text-align: center;
  color: $primary;
  font-size: $font_xxl;
  margin-bottom: 5rem;
  margin-top: 5rem;
  padding: auto;
}

a {
  color: $primary;
  text-decoration: none;
    &:visited {
      color: $primary;
    }
    &:hover {
      text-shadow:
      1px .5px 1px $primary_quarter;
    }
}

ul {
  list-style: none;
}

.container {
  max-width: 80vw;
  width: 80vw;
  margin: auto;
}

.section {
  background-color: $background-blur;
}

.section-bis {
  background-color: $secondary-fifty;
}