@use '../utils/variables' as *;

.header {
    padding: 20px 0px 20px;
    max-width: 100%;
    background-color: ($background-blur);
    backdrop-filter: blur(10px);
    z-index: 10;
    position: sticky;
    top: 0;
    box-shadow: 0px 5px 10px black;
    justify-content: space-between;
}


.header__menu {
    width: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.header__title {
    font-family: $title_font;
    color: $primary;
    font-size: $font_xxl;
}

.header__title-mobile {
    display: none;
}

.menu__center {
    justify-content: space-between;
}

/* MEDIA QUERIES*/

@media (max-width : $width_l) {
    .header__title {
        font-size: $font_xl;
    }

}

@media (max-width : $width_xm) {
    .header__menu {
        justify-content: space-between;
    }
    .header__title-mobile {
    display:inline;
    margin-left: 20px;
}
}
@media (max-width : $width_m) {
    .text{
        font-size: $font_xs;
    }
    .header__title {
        font-size: $font_l;
    }
}

@media (max-width : $width_s) {
    .header__title {
        font-size: $font_m;
    }

}

