@use '../utils/variables' as *;

.menu__list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5rem;
}

.menu__btn-txt {
    font-size: $font_l;
    font-family: $red_hat;
    border-bottom: solid $secondary 1px;
}

.menu-btn__bar {
    display: none;
    content: "";
}

.menu__item {
    color: $primary;
    text-decoration: none;
    font-size: 2.5rem;

}

.menu__item-white a {
    color: $background;
    text-decoration: none;
    font-size: 2.5rem;
    &:hover {
        text-shadow:
        1px .5px 1px $background-blur;
    }
}


.list__sm {
    display: flex;
    flex-direction: row;
    gap: 10px;
}

/* MEDIA QUERIES*/
@media (max-width : $width_l) {
    .menu__item {
        font-size: $font_m;
    }

    .menu__btn-txt {
        font-size: $font_s;
    }
}

@media (max-width : $width_m) {
    .menu__btn-txt {
        font-size: $font_xs;
    }
}

@media (max-width : $width_xm) {
    .menu__btn-txt, 
    .menu__item {
        display: none;
    }
    .menu-btn__bar {
        display:inline;
        margin-right: 20px;
    }
    .menu__center {
    display: none;
    }
}

@media (max-width : $width_s) {

}

