@use 'utils/variables' as *;

@use 'reset/reset';



@use 'base/main';
@use 'base/text';

@use 'layout/header';
@use 'layout/menu';
@use 'layout/footer';

@use 'components/user';
@use 'components/hero';
@use 'components/img';
@use 'components/index';
@use 'components/maps';
@use 'components/btn';
@use 'components/calendar';
@use 'components/carte';
